* {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(237, 222, 252);
}

h1{
    background-color: blue;
    color: white;
    height: 4rem;
    line-height: 4rem;
}

.choice{
    height: 170px;
    width: 170px;
    border-radius: 50%;
}

.choice:hover {
    opacity: 0.5;
    cursor: pointer;
    /* background-color: black; */
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    margin-top: 5rem;
}

.score_board{
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
#user-score,#comp-score {
    font-size: 2rem;
}

#msg {
    background-color: rgb(15, 15, 123);
    color: white;
    font-size: 2rem;
    display: inline;
    padding: .5rem;
    border-radius: 1rem;
}
.msg-container{
    margin-top: 2rem;
    height: 2rem;
}

.const{
    background-color: rgb(27, 239, 176);
    border-radius: 0.5rem;
    display: inline;
}

